<p id="notice"><%= notice %></p>

<h1>
  <%= @product.name %>
</h1>

<p>
  <strong>Stripe ID:</strong>
  <%= @product.stripe_id %>
</p>

<p>
  <strong>Statement descriptor:</strong>
  <%= @product.statement_descriptor || "None" %>
</p>

<% if @product.unit_label %>
<p>
  <strong>Unit label:</strong>
  <%= @product.unit_label %>
</p>
<% end %>

<h2>Pricing Plans</h2>

<ul>
  <% @product.plans.each do |plan| %>
    <li><%= plan.name %> - <%= number_to_currency plan.price_in_cents / 100.0 %> per <%= plan.interval %></li>
  <% end %>
</ul>

<%= link_to "Back", saas.products_path %>