<div class="container">
  <div class="pt-5 pb-3">
    <div class="row">
      <div class="col">
        <h3>Subscription plans</h3>
      </div>
      <div class="col">
        <ul class="nav nav-pills mb-3 float-right">
          <% @plans_by_interval.each_with_index do |(interval, plans), index| %>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if index == 0 %>" data-toggle="tab" href="#<%= interval %>">
                <%= interval_display(interval) %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <% @plans_by_interval.each_with_index do |(interval, plans), index| %>
      <div class="tab-pane fade show <%= 'active' if index == 0 %>" id="<%= interval %>" role="tabpanel">
        <div class="row">
          <% plans.sort_by(&:price_in_cents).each do |plan| %>
            <div class="col">
              <div class="card text-center">
                <div class="card-header bg-primary text-white">
                  <h5>
                    <span class="badge badge-lg badge-pill badge-primary" style="background-color: rgba(255, 255, 255, 0.2); font-weight: 300;">
                      <%= plan.product.name %>
                    </span>
                  </h5>
                  <h3 class="display-4 mb-0">
                    <%= number_to_currency plan.price_in_cents / 100.0, precision: 0 %>
                  </h3>
                  <span style="opacity: 0.7;">
                    per <%= plan.interval %>
                  </span>
                </div>
                <% if current_subscriber %>
                  <div class="card-body">
                    <%= form_with(model: @subscription, url: subscription_path, local: true) do |form| %>

                      <%= form.hidden_field :plan_id, value: plan.id %>

                      <div class="form-group">
                        <%= form.label :coupon_code %>
                        <%= form.text_field :coupon_code, class: "form-control" %>
                      </div>

                      <% if @subscription.new_record? %>
                        <script src="https://checkout.stripe.com/checkout.js"
                          class="stripe-button"
                          data-key="<%= Saas.stripe_public_key %>"
                          data-email="<%= current_user.email %>"
                          data-allow-remember-me="false"
                          data-name="<%= Saas.app_name %>"
                          data-description="Subscription Setup"
                          data-label="Sign Me Up!"
                          data-panel-label="Subscribe"
                          data-zip-code="true"
                          data-locale="auto">
                        </script>
                        <style>.stripe-button-el { display: none; }</style>
                      <% end %>

                      <button class="btn btn-block btn-primary">Select this plan</button>

                    <% end %>
                  </div>
                <% end %>

                <% if plan.product.features.any? %>
                  <ul class="list-group list-group-flush">
                    <% plan.product.features.order(position: :asc).each do |feature| %>
                      <li class="list-group-item"><%= feature.description %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
