<h1>Choose a Plan</h1>

<%= form_with(model: @subscription, url: subscription_path, local: true) do |form| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <strong><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</strong>

      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :plan_id %><br>
    <%= form.select :plan_id, options_from_collection_for_select(Saas::Plan.includes(:product).all, :id, :identifier), {}, class: "form-control" %>
  </div>

  <script src="https://checkout.stripe.com/checkout.js" 
    class="stripe-button"
    data-key="<%= Saas.stripe_public_key %>"
    data-email="<%= current_user.email %>"
    data-allow-remember-me="false"
    data-name="Interstate"
    data-description="Subscription Setup"
    data-label="Sign Me Up!"
    data-panel-label="Subscribe"
    data-zip-code="true"
    data-locale="auto">
  </script>
  <style>.stripe-button-el { display: none; }</style>
  
  <button class="btn btn-primary">Sign Me Up!</button>
<% end %>